// wechat_keyfinder Windows 版本资源：为 exe 提供发布者/产品/描述元数据，
// 避免"无签名 + 零版本信息"这一被 Defender 重点标记的特征组合。

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1, 0, 0, 0
PRODUCTVERSION  1, 0, 0, 0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "OhMyMeme\0"
            VALUE "FileDescription",  "OhMyMeme WeChat sticker import helper\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "wechat_keyfinder\0"
            VALUE "LegalCopyright",   "GNU GPL v3\0"
            VALUE "OriginalFilename", "wechat_keyfinder.exe\0"
            VALUE "ProductName",      "OhMyMeme\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
