# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
.venv/

# OhMyMeme 本地数据
config.json
*.db
cache/
thumbnails/
ftp_test/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ADB 自动下载
.adb/

# 打包输出
*.exe
*.AppImage
*.deb
*.rpm
*.dmg
nuitka-crash-report.xmlcookie.txt
uv.lock
