# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
.venv/

# OhMyMeme 本地数据
config.json
*.db
cache/
thumbnails/
ftp_test/

# IDE and local project workspace
.vscode/
.idea/
.workbuddy/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ADB 自动下载
.adb/

# 打包输出
build-*/
dist-*/
output/
*.exe
*.AppImage
*.deb
*.rpm
*.dmg
nuitka-crash-report.xml
cookie.txt
uv.lock
node_modules/
src/webui/dist/

# 本地运行日志
*.log
*.err
